<%- include("./partials/navbar.ejs") %>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1561.0.min.js"></script>
<link rel="stylesheet" href="/css/alarms.css">
</head>
<body>
    <p>Current Alarms: </p>
    
    <div id="card" class="card"></div>
    



    <script src="/js/alarms.js">
        
    </script>
</body>
</html>