<%- include("./partials/navbar.ejs") %>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1561.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="/css/cost.css">
</head>
<body>
   
    <h1 class="title is-1">Cost Analysis</h1>
    


      <script src="/js/cost/test.js"></script>
      <script src="/js/cost/services.js"></script>
      
    <script src="/js/cost/costec2.js"></script>
    
    <!-- <script src="/js/cost/costcw.js"></script> -->
    <!-- <script src="/js/cost/costtax.js"></script> -->
    
</body>
</html>