<%- include("./partials/navbar.ejs") %>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1561.0.min.js"></script>
<link rel="stylesheet" href="/css/ec2.css">
</head>
<body>
    
    
   
    <div>
        <button id="button1" class="btn-grad">Start All Instances</button>
        <button id="btn2" class="btn-grad">Stop All Instances</button>
        <button id="btn2" class="btn-grad">Cost of EC2- Instances in last 1 month</button>
        <button id="btn2" class="btn-grad">Cost of EC2- Instances in last 6 months</button>
    </div>

    <div class="preload">
        <img src="https://shortpixel.com/img/spinner2.gif">
        </div>
        
       
    <script src="/js/ec2/test.js"></script>
    <script src="/js/ec2/notification.js"></script>
    <script>



    </script>
</body>
</html>