<%- include("./partials/navbar.ejs") %>
<link rel="stylesheet" href="/css/home.css">

<title>HomePage</title>
</head>
<body>
    <section class="hero">
        <div class="hero-body">
          <p class="title">
           HomePage
        </div>
      </section>

     

      <div class="container text-center">
        <div class="row">
          <div class="col">
            
            <div class="card">
                <div class="card-content">
                  <div class="content">
                    <h1 class="title"> EC2 Status</h1>
                    <button class="button is-primary"><a href="/ec2">Check Here!</a></button>
                </div>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <h1 class="title"> Alarms Status</h1>
                    <button class="button is-primary"><a href="/alarms">Check Here!</a></button>
                </div>
                </div>
              </div>

              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <h1 class="title"> Cost Status</h1>
                    <button class="button is-primary"><a href="/cost">Check Here!</a></button>
                </div>
                </div>
              </div>


          </div>
          
        </div>
      

        
       

    </div>

   
</body>
</html>