@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
body{
    text-align: center;
}
.card{
    display:inline-block;
    text-align: center;
    margin-top: 20px;
    animation: 1s ease-out 0s 1 slideInLeft;

}

.preload { 
  
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline;
    animation: 1s ease-out 0s 1 slideInLeft;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  